{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Falcon</title>
        <link rel="stylesheet"  href="{% static 'css/login.css' %}">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    
    <body id="bootstrap-override">
        <div id="pageBackground">
            <div id="loginContainer" class="fadeIn">
                <div class="">
                    <img src="{% static 'img/falcon_logo.png' %}" />
                </div>

                <form>
                    <input type="text" id="username" name="username" placeholder="username">
                    <input type="password" id="password" name="password" placeholder="password">
                    <input type="submit" id="login" value="Login">
                </form>
            </div>
        </div>
    </body>
</html>