{% extends "base.html" %}
{% block content %}
    {% if user.user.is_authenticated %}
        <h2>Tasks - {{ user.team }}</h2>
         <form method="POST">{% csrf_token %}
            <label for="priority"></label>
            <select name="priority" id="priority">
                <option selected hidden value="" >Select a priority</option>
                <option value="">All</option>
                <option value="Low">Low</option>
                <option value="Medium">Medium</option>
                <option value="High">High</option>
                <option value="Critical">Critical</option>
            </select>
               <label for="status"></label>
            <select name="status" id="status">
                <option selected hidden value="" >Select a status</option>
                <option value="">All</option>
                <option value="Backlog">Backlog</option>
                <option value="InProgress">InProgress</option>
                <option value="Done">Done</option>
            </select>
            <input type="submit" value="Filter">
        </form>
            {% for task in tasks %}
            <article class="media content-section">
                <h3><a class="article_title" href={{ task.id }}>{{ task.title|truncatechars:35 }}</a></h3>
                <p class="article-content">{{ task.description|truncatechars:100 }}</p>
                <div class="media_body">
                    <div class="article_metadata">
                        <small class="text-muted">
                            <b>Created on: </b>{{ task.created_date|date:"F d, Y" }} |
                            <b>Created by: </b>{{ task.created_by.user.first_name|truncatechars:20 }} {{ task.created_by.user.last_name|truncatechars:20 }} |
                            <b>Assignee: </b>{{ task.assignee.user.first_name|truncatechars:20 }} {{ task.assignee.user.last_name|truncatechars:20 }}  |
                            <b>Status: </b>{{ task.status|truncatechars:20 }}
                            {% if user.is_staff %}
                            <b>|</b> {{ task.assignee.team|truncatechars:20 }}
                            {% endif %}
                        </small>
                    </div>
                </div>
                </article>
            {% endfor %}
    {% else %}
        This page is restricted. Are you an existing user? <a href="{% url 'login' %}"> Login</a>.
    {% endif %}
{% endblock content %}
