{% extends 'base.html' %} 
{% block content %}
<div class="container" style="width: 60%">
  <div class="mb-3">
    <h1>Task {{request.user.is_authenticated}}</h1>
    <p>id={{task.id}}</p>
    <p>title={{task.title}}</p>
    <p>priority={{task.priority}}</p>
    <p>created_date={{task.created_date}}</p>
    <p>assignee={{task.assignee}}</p>
    <p>created_by={{task.created_by}}</p>
    <p>description={{task.description}}</p>
    <form action="" method="POST">
      {% csrf_token %} {{form}}
      <input type="submit" />
    </form>
  </div>
</div>
<h3>Comments</h3>
{% for comment in task.get_comments %}
  <article class="media content-section">
    <div class="media_body">
      <div class="article_metadata">
          <b>Assignee: {{ comment.appUser|truncatechars:20 }}</b>
          <small class="text-muted">
              Created on: {{ comment.created_date|date:"F d, Y" }}
          </small>
      </div>
      <p class="article-content">{{ comment.description|truncatechars:400 }}</p>
    </div>
  </article>
{% endfor %}
{% endblock content %}
