<nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
  <div class="container">
    <a class="navbar-brand mr-4" href="/"> Falcon </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarToggle"
      aria-controls="navbarToggle"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggle">
      <div class="navbar-nav mr-auto">
        <a class="nav-item nav-link" href="/">Home</a>
        {% if user.user.is_authenticated and user.is_manager  %}
                <a class="nav-item nav-link" href="#">New Task</a>
        {% endif %}
      </div>
    </div>
      <!-- Navbar Right Side -->
      <div class="navbar-nav">
        {% if user.user.is_authenticated %}
            <a class="nav-item nav-link" href="#">{{ user.user.username }} </a>
            <a class="nav-item nav-link" href="{% url 'logout' %}">Logout </a>
        {% else %}
            <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
        {% endif %}
      </div>
  </div>
</nav>
