
<nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand mr-4" href="/" href="#">Falcon</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        {% if user.user.is_authenticated and user.is_manager %}
          <li class="nav-item">
            <a class="nav-link" href={% url 'new_task' %}>New Task</a>
          </li>
        {% endif %}
        {% if user.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'tasks' %}">View Tasks</a>
        </li>
          <li class="position-fixed end-0">
            <div class="d-flex align-content-start">
              <a class="nav-link" >{{ user.user.first_name }} {{ user.user.last_name }}&nbsp;</a>
              <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </div>
          </li>
        {% else %}
          <li>
            <a class="nav-link" href="{% url 'login' %}">Login</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
